.reveal .slides {
  margin-left:0px;
}

/* Need to reduce the size of the fonts for printing */
h1 { font-size: 48pt !important;  }
h2 { font-size: 32pt !important; }
h3 { font-size: 24pt !important; }
h4 { font-size: 20pt !important; font-variant: small-caps; }
h5 { font-size: 19pt !important; }
h6 { font-size: 18pt !important; font-style: italic; }

/* SECTION 3: Set body font face, size, and color.
   Consider using a serif font for readability. */
body, p, td, li, div, a {
  font-size: 20pt!important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  color: #000;
}

.reveal aside.notes {
  display: block !important;
  visibility: visible !important;
  border-top:1px solid #666;
  padding:2em;
  margin-top:4em;
  font-style: italic;
}

.reveal aside.notes:before
{
  content:"Slide notes:";
}

.reveal pre code  {
  background-color: #333 !important;
}

a[href]:after { content: " (" attr(href) ")"; }
